body {
    background: black;
}

#display {
    border-style: solid;
    border-color: lightgreen;
    width: 500px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    color: blueviolet;
    border-radius: 10px;
    font-size: 70px;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

input[type = 'button'] {
    padding: 10px;
    font-size: 60px;
    cursor: pointer;
    border-color: lightgreen;
    width: 120px;
    height: 90px;
    background: black;
    margin: 0px 10px 10px 0px;
    color: lightgreen;
}

input[type = 'button']:focus {
    color: blueviolet;
    border-color: blueviolet;
}

form {
    text-align: center;
}

@media (max-width: 600px) {
    #display {
        width: 400px;
    }
}

@media (max-width: 416px) {
    #display {
        width: 300px;
    }
}

@media (max-width: 318px) {
    #display {
        width: 250px;
    }
}